main{
  border-style:solid;
  border-width:1px;
  border-radius:10px;
  background-color:rgb(220,238,252);
}

h1 {
  padding-top: 25px;
  text-align: center;
  font-size: 50px;
  font-family: 'Lora', 'serif';
}


#img-div{
   background-color:rgb(15, 26, 44);
   margin-left: 10px;
   margin-right: 10px;
}


img {
   display: block;
   padding-top: 20px;
   margin-left:auto;
   margin-right:auto;
}

.responsive-img{
    max-width: 100%;
    height: auto;
}

#img-caption{
  text-align: center;
  color: rgb(222, 239, 249);
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
}

h4{
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

ul{
  text-align: left;
  position: relative;
  margin-left: 35%;
  margin-right: 35%;
  font-family: 'Source Sans Pro', sans-serif;
}

li{
  padding-top: 10px;
}

